.feed {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  margin-top: var(--spacing-lg);
  padding: var(--spacing-lg) var(--spacing);
  align-items: center;
  background-color: var(--background-color);
}

@media (max-width: var(--bp-mobile)) {
  .feed {
    padding: var(--spacing-sm);
  }
}